/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/*Begin NeedGive.fxml */
#ClickHome{
	-fx-background-image:url("home.jpg");
	-fx-background-size:100% 100%;
}

#ClickAdd{
	-fx-background-image:url("plus.jpg");
	-fx-background-size:100% 100%;
}

#ClickMinus{
	-fx-background-image:url("minus.jpg");
	-fx-background-size:100% 100%;
}

#ClickPerson{
	-fx-background-image:url("person.jpg");
	-fx-background-size:100% 100%;
}

#ClickCart{
	-fx-background-image:url("cart.jpg");
	-fx-background-size:100% 100%;
}

#ClickQuestion{
	-fx-background-image:url("question.jpg");
	-fx-background-size:100% 100%;
}
/*End NeedGive.fxml */

/*Begin Main.fxml */
#ClickNeed{
	-fx-background-image:url("need.jpg");
	-fx-background-size:100% 100%;
}

#ClickGive{
	-fx-background-image:url("give.jpg");
	-fx-background-size:100% 100%;
}

#ClickInventory{
	-fx-background-image:url("inventory.jpg");
	-fx-background-size:100% 100%;
}
/*End Main.fxml */

/*Begin Inventory.fxml */
#ClickSearch{
	-fx-background-image:url("search.jpg");
	-fx-background-size:100% 100%;
}

/*End Inventory.fxml */