/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/* BEGIN MainController.java */
#mainPane{
	-fx-background-image:url("images/mainPane.jpg");
	-fx-background-size:100% 100%;
}
   
#ClickMake{
	-fx-background-image:url("images/ClickMake.jpg");
	-fx-background-size:33% 100%;

}

#ClickStudy{
	-fx-background-image:url("images/ClickMake.jpg");
	-fx-background-size:33% 100%;

}

#ClickExit{

}

/*END MainController.java */

/*BEGIN MakeController.java */

#makeBackText{

}
#makeFrontText{

}
#makeFrontCancel{

}
#makeCardCreate{

}

/*END MakeController.java */

/*BEGIN StudyController.java */

#studyBegin{

}
#studyFlipFront{

}
#studyText{

}
#studyPrevious{

}
#studyFlip{

}
#studyExit{

}
#studyNext{

}
#studyDeleteCard{

}

/*END StudyController.java */

